// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
}

#editor {
  width: 100%;
  height: 100%;
}

@mixin home-section($color) {
  background-color: $color;
  padding: 100px 0;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.white {
  color: white;
}

.dark-link {
  color: white;
  text-decoration: underline;
}

.dark-link:hover {
  color: white;
  text-decoration: underline;
}

.main {
  h1 {
    color: white;
  }


  section#intro {
    @include home-section($home-intro);

    h1 {
    
    }
  }

  section#about {
    @include home-section($home-about);
  }

  section#impact {
    @include home-section($home-impact);
  }

  section#try {
    @include home-section($home-try);
  }
}
