// Green
$sather-green: #B9D3B6;

// Orange
//$golden-gate: #ED4E33;
$golden-gate: #FDEDD0;
// Blue
//$lawrence: #00B0DA;
$lawrence: #BCF1ED;
// Yellow
//$medalist: #E09E19;
$medalist: #FD795B;
// Gray
//$pacific: #53626F;
$pacific: #FF634D;
